
.four_in_a_line_element {
  width: calc(25% - 10px);
  margin-bottom: 20px;
  margin-right: 1%;
}

.four_in_a_line_element:nth-child(4n) {
  margin-right: 0;
}

/* Réinitialisation des styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styles pour le corps du document */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
  margin: 0;
  padding: 0;
}

/* Styles pour l'en-tête */
header {
  text-align: center;
  padding: 20px;
  background-color: #f5f5f5;
  display: flex; /* Utilisation de flexbox */
  align-items: center; /* Centrer les éléments verticalement */
}

header h1 {
  font-size: 24px;
  margin-right: auto; /* Déplacer le logo à gauche */
}

header img {
  max-width: 100px;
  height: auto;
  vertical-align: middle;
}

/* Styles pour les liens de connexion/déconnexion */
form {
  margin: 5px;
}

button {
  padding: 8px 16px;
  background-color: #0a7253;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Styles pour la section principale */
.wrapper {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}

/* Styles pour les liens */
a {
  color: #0a7253;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Pour mettre les boutons login et signup sur la même ligne */
.Login-link,
.Signup-link {
  display: inline-block;
  margin-left: 10px;
}

/* Réinitialisation des styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styles pour la section de contenu */
.wrapper {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

h1 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
}

/* Styles pour le formulaire */
.site-form {
  display: flex;
  flex-direction: column;
}

.site-form label,
.site-form input {
  margin-bottom: 10px;
}

.site-form input[type="text"],
.site-form input[type="password"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.site-form input[type="submit"] {
  padding: 10px 20px;
  background-color: #0a7253;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.site-form input[type="submit"]:hover {
  background-color: #0a7253;
}

/* Styles pour les messages d'erreur */
.error-message {
  color: #dc3545;
  margin-bottom: 10px;
}

/* Styles pour la liste des mikvahs */
.three_in_a_line_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.three_in_a_line_element {
  width: calc(33.33% - 10px);
  margin-bottom: 20px;
  margin-right: 1%;
}

.three_in_a_line_element:nth-child(3n) {
  margin-right: 0;
}


/* Styles pour les liens boutons */
.btn {
  display: inline-block;
  padding: 5px 10px;
  background-color: #0a7253;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: small;
}

.btn:hover {
  background-color: #094e39;
}
